@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

:root {
  /* Colors */
  /* --blackpure: #211F30; */
  --black: #32384d;
  --black-border: #211f30;
  --white: #f9f9ff;
  --yellow: #e29930;  

  /* Nav */
  --nav-bg: var(--black);
  --nav-border: var(--black-border);
  --nav-text: var(--white);

  /* Header */
  --header-bg: var(--black);
  --header-text: var(--white);

  /* Footer */
  --footer-bg: var(--black);
  --footer-text: var(--white);

  /* Light mode */
  --page-bg: var(--yellow);
  --text-color: var(--black);
  --accent: var(--yellow);
  --title-1: var(--white);  

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

/* Dark mode */
/* .dark {
  --page-bg: #211F30;
  --text-color: var(--white);

  --title-1: var(--white);

  --project-card-bg: var(--black);
  --project-card-text: var(--yellow);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
} */

html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;

  /* Light mode */
  background-color: var(--page-bg);
    color: var(--text-color);
}

/* General */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1400px;
}

.none {
  display: none !important;
}

.section {
  padding: 40px 0;  
  border-bottom: 1px solid var(--nav-border);
}

.title-1 {
  margin-bottom: 60px;

  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  margin-bottom: 20px;

  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
}

/* Nav */

.nav {
  padding: 20px 0;
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--nav-border);
  color: var(--nav-text);
  letter-spacing: normal;
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  background: -webkit-linear-gradient(to right, #f9f9ff, #e29930);
  background: linear-gradient(to right, #f9f9ff, #e29930);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease;
}

.logo:hover {
	transform: scale(1.1);
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;  
  
}

.nav-list__link {
  color: var(--nav-text);  
  transition: opacity 0.7s ease;
  
}

.nav-list__link:hover {
  opacity: 0.5;
  
}

/* Header */

.header {
  padding: 40px 0;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-bg);
  background-image: url("./../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  border-bottom: 1px solid var(--nav-border);
  color: var(--header-text);
  text-align: center;
}

.header__wrapper {
  padding: 0 15px;
  max-width: 660px;
}

.header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}

.header__title strong {
  font-size: 60px;
  font-weight: 700;
}

.header__title em {
  font-style: normal;
  color: var(--accent);
}

.header__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.333;
}

.header__text p + p {
  margin-top: 0.5em;
}

/* Content list */

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row-gap: 40px; */
  text-align: center;
  
}

.content-list__item {
  font-size: 18px;
  font-weight: bold; 
  line-height: 1.5;
  transition: transform 0.3s ease-in-out;
  
}


.content-list__item p + p {
  margin-top: 0.5em;
}

/* Image Gallery Styles */
.gallery {
  display: flex;  
  justify-content: space-around;
  margin-top: 20px;
}

.gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border: 2px solid var(--black);
  border-radius: 4px;
  margin: 5px;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.gallery img:hover {
  border: 5px solid var(--white); 
  font-size: 1.5rem;  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

@media (max-width: 850px) {
  .gallery{
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  
}
#middle-section p {
  color: var(--white);
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 75px;
}

@media (max-width: 850px) {
  #middle-section ul {
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
  }
}

li.pick-one button {
  background: none;
  border: 2px solid var(--white);
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  height: 355px;
  width: 325px;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  color: var(--white);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  padding-top: 30px;
  padding-bottom: 20px;
}

li.pick-one button:hover {
  border: 10px solid var(--white); 
  font-size: 1.5rem;
}

li.pick-one img {
  
  max-width: 250px;
  max-height: 250px;
  
}

#scores {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Feedback Form Styles */

.feedback-form {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  text-align: center;
}

.feedback-form form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  
}

.feedback-form label {
  margin-top: 10px;
}

.feedback-form input,
.feedback-form textarea {
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 2px solid var(--white);
}

.feedback-form button {
  padding: 10px;
  background-color: var(--black);
  color: var(--white);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}



.feedback-form button:hover {
  background-color: var(--black-border);  
}

/* Footer */

.footer {
  margin-top: auto;
  padding: 25px 0;
  background-color: var(--footer-bg);
  color: var(--footer-text);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.copyright {
  font-size: 16px;
}

.copyright p + p {
  margin-top: 0.5em;
}

@media (max-width: 620px) {
  /* Header  */

  .header {
    min-height: unset;
  }

  .header__title {
    font-size: 30px;
  }

  .header__title strong {
    font-size: 40px;
  }

  /* Nav */

  .nav-row {
    justify-content: space-between;
  }

  .dark-mode-btn {
    order: 0;
  }

  /* General */

  .section {
    padding: 40px 0;
  }

  .title-1 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .title-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  /* Projects */

  .project__title {
    font-size: 22px;
  }

  /* Project page */

  .project-details__desc {
    margin-bottom: 20px;
    font-size: 22px;
  }

  /* Content List */

  .content-list {
    row-gap: 20px;
  }

  .content-list__item {
    font-size: 16px;
  }

  /* Footer */

  .footer {
    padding: 40px 0 30px;
  }

  .footer__wrapper {
    row-gap: 20px;
  }

  /* Social */

  .social {
    column-gap: 20px;
  }

  .social__item {
    width: 28px;
  }
}

#snackbar {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--black);
  color: var(--accent);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
